.chart__container {
  margin: auto;
  max-width: 800px;
  padding: 40px 0;

  .chart__header {
    padding: 20px 0;
  }

  .chart-legend {
    display: flex;
    list-style-type: none;
    justify-content: center;

    &__item {
      border: 0;
      border-radius: 4px;
      margin: 0 10px;
      padding-top: 9px;
      padding-bottom: 9px;
      padding-right: 9px;
      padding-left: 0;
      background-color: rgb(231, 231, 231);
      span {
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        margin: 0 10px;
      }
    }
  }


}